body
{
    background-color: #A2A5AE;
    color: #010101;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.header
{
    background-color: #002F77;
    border-bottom: 4px solid #000000;
}

.header-inner
{
    border-spacing: 0;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

.header-inner td
{
    margin: 0;
    padding: 0;
}

/*Главное меню*/
.main-menu
{
    line-height: 35px;
}

.main-menu ul
{
    line-height: 17px;
}

.main-menu,
.main-menu ul
{
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-menu a:link,
.main-menu a:active,
.main-menu a:visited
{
    background: linear-gradient(to top, #010101, #524E4F);
    background-color: #010101;
    color: #FFFFFF;
    display: block;
    padding: 0 5px;
    text-decoration: none;
}

.main-menu a:hover
{
    background-color: #232527;
    color: #82C5DF;
}

.main-menu-first
{
    border-radius: 0 0 0 7px;
    border-right: 1px solid #A6A4A5;
}

.main-menu-link
{
    border-right: 1px solid #A6A4A5;
}

.main-menu-last
{
    border-radius: 0 0 7px 0;
}

.main-menu li
{
    float: left;
    position: relative;
}

.main-menu ul
{
    display: none;
    position: absolute;
    top: 35px;
    width: 120px;
}

.main-menu li ul a
{
    float: left;
    width: 120px;
}

.main-menu ul ul
{
    top:auto;
}

.main-menu li ul ul
{
    left: 120px;
    margin: 0 0 0 10px;
}

.main-menu li:hover ul ul,
.main-menu li:hover ul ul ul,
.main-menu li:hover ul ul ul ul
{
    display:none;
}

.main-menu li:hover ul,
.main-menu li li:hover ul,
.main-menu li li li:hover ul,
.main-menu li li li li:hover ul
{
    display:block;
}

.logo-text
{
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

.header-text
{
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

.horizontal-menu-td
{
    border-right: 1px solid #82C5E0;
}

.horizontal-menu-td:last-child
{
    border-right: none;
}

.horizontal-menu a:link,
.horizontal-menu a:active,
.horizontal-menu a:visited
{
    color: #82C5E0;
    margin: 5px;
    text-decoration: none;
}

.horizontal-menu a:hover,
.horizontal-menu a.active
{
    color: #FFFFFF;
}

/*Выравнивание*/
.left
{
    text-align: left;
}

.center
{
    text-align: center;
    margin: 0 auto;
}

.right
{
    text-align: right;
}

.justify
{
    text-align: justify;
}

.none
{
    display: none;
}

.vcenter
{
    vertical-align: middle !important;
    float: none;
}

.fright
{
    float: right;
}

/*Позиционирование*/
.relative
{
    position: relative;
}

/*Ширина*/
.h20
{
    height: 20px;
}

.w1
{
    width: 1px;
}

.w4
{
    width: 4%;
}

.w5
{
    width: 5%;
}

.w8
{
    width: 8%;
}

.w10
{
    width: 10%;
}

.w13
{
    width: 13%;
}

.w15
{
    width: 15%;
}

.w20
{
    width: 20%;
}

.w25
{
    width: 25%;
}

.w30
{
    width: 30%;
}

.w33
{
    width: 33%;
}

.w35
{
    width: 35%;
}

.w40
{
    width: 40%;
}

.w45
{
    width: 45%;
}

.w50
{
    width: 50%;
}

.w70
{
    width: 70%;
}

.w100
{
    width: 100%;
}

.w100p
{
    width: 100px;
}