body
{
    background-color: #E1E2E4;
    background-image: url('../img/background.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    color: #010101;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

div
{
    display: block;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 17px;
}

h2
{
    font-size: 16px;
}

h3
{
    font-size: 15px;
}

h4
{
    font-size: 14px;
}

h5
{
    font-size: 16px;
    font-weight: bold;
}

h6
{
    font-size: 14px;
    font-weight: bold;
}

img
{
    border: 0;
}

table
{
    border-spacing: 0;
}

td
{
    padding: 0;
}

p
{
    margin: 0;
    padding: 0;
}

q
{
    font-style: italic;
}

ul
{
    margin: 0 0 0 20px;
    padding: 0;
}

a
{
    color: #3B3A38;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

button a:hover
{
    text-decoration: none;
}

.button-link,
.button-link:hover
{
    text-decoration: none;
}

button, input, select, textarea
{
    background-color: #FDFDFD;
    border: 1px solid #E1E2E4;
    border-radius: 3px; 
    color: #3B3A38;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
}

button, input, textarea
{
    padding: 3px;
}

button, input, select
{
    padding: 2px 3px 2px 3px;
}

button
{
    cursor: pointer;
}

textarea
{
    resize: none;
}

.page-header
{
    background-color: #002F77;
    border-bottom: 4px solid #000000;
    min-width: 960px;
}

.header-inner
{
    border-spacing: 0;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

.header-inner td
{
    margin: 0;
    padding: 0;
}

/*Главное меню*/
.main-menu
{
    line-height: 35px;
    z-index: 1;
}

.main-menu ul
{
    line-height: 17px;
}

.main-menu,
.main-menu ul
{
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-menu a:link,
.main-menu a:active,
.main-menu a:visited
{
    background: linear-gradient(to top, #010101, #524E4F);
    background-color: #010101;
    color: #FFFFFF;
    display: block;
    padding: 0 5px;
    text-decoration: none;
}

.main-menu a:hover
{
    background-color: #232527;
    color: #82C5DF;
}

.main-menu-first
{
    border-radius: 0 0 0 7px;
    border-right: 1px solid #A6A4A5;
}

.main-menu-link
{
    border-right: 1px solid #A6A4A5;
}

.main-menu a.main-menu-link-red
{
    color: #CC0000;
}

.main-menu-last
{
    border-radius: 0 0 7px 0;
}

.main-menu li
{
    float: left;
    position: relative;
}

.main-menu ul
{
    display: none;
    position: absolute;
    top: 35px;
    width: 120px;
}

.main-menu li ul a
{
    float: left;
    width: 120px;
}

.main-menu ul ul
{
    top:auto;
}

.main-menu li ul ul
{
    left: 120px;
    margin: 0 0 0 10px;
}

.main-menu li:hover ul ul,
.main-menu li:hover ul ul ul,
.main-menu li:hover ul ul ul ul
{
    display:none;
}

.main-menu li:hover ul,
.main-menu li li:hover ul,
.main-menu li li li:hover ul,
.main-menu li li li li:hover ul
{
    display:block;
}

.logo-text
{
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

.header-text
{
    bottom: 5px;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    left: 5px;
    position: relative;
}

.horizontal-menu-td,
.horizontal-menu-td td
{
    border-right: 1px solid #82C5E0;
}

.horizontal-menu-td:last-child,
.horizontal-menu-td td:last-child
{
    border-right: none;
}

.horizontal-menu-second
{
    margin-top: 9px;
    position: absolute;
}

.horizontal-menu-second td
{
    background-color: #002F77;
    padding: 2px;
}

.horizontal-menu-second td:first-child
{
    border-radius: 0 0 0 10px;
}

.horizontal-menu-td td
{
    padding-left: 3px;
    padding-right: 6px;
}

.horizontal-menu a:link,
.horizontal-menu a:active,
.horizontal-menu a:visited,
.horizontal-menu-second a:link,
.horizontal-menu-second a:active,
.horizontal-menu-second a:visited
{
    color: #82C5E0;
    margin: 5px;
    text-decoration: none;
}

.horizontal-menu a:hover,
.horizontal-menu a.active,
.horizontal-menu-second a:hover,
.horizontal-menu-second a.active
{
    color: #FFFFFF;
}

.header-button
{
    height: 30px;
    margin: 0 auto;
    width: 960px;
}

.header-button a
{
    background-color: #002F77;
    border: 1px solid #010101;
    border-radius: 5px;
    color: #82C5E0;
    font-size: 14px;
    padding: 2px 7px 2px 7px;
    position: relative;
    top: 6px;
    text-decoration: none;
}

.header-button a.active,
.header-button a:hover
{
    color: #FFFFFF;
}

.page-content
{
    margin: 0 auto;
    width: 960px;
}

.footer
{
    color: #9CA2A5;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    width: 960px;
}

.footer a
{
    color: #9CA2A5;
}

/*Блоки страницы*/
.block-table
{
    background-color: #F5F5F5;
    border-spacing: 0;
}

.block-table a
{
    color: #000000;
}

.block-table td
{
    position: relative;
    vertical-align: top;
}

.block-page,
.block-page-forum
{
    border: 1px solid #A2A5AE;
    height: 100%;
}

.block-page
{
    padding: 5px;
}

.block-page-forum
{
    padding: 0;
}

.block-page .header,
.block-page .header .active
{
    color: #3570BC;
    font-size: 13px;
    padding: 5px;
}

.block-page .header .finance-link
{
    font-size: 13px;
    padding: 5px;
}

.inbox-sup
{
    background: #F61B18;
    border-radius: 3px;
    color: #000;
    font-size: 75%;
    line-height: 0;
    padding: 1px 3px;
    position: relative;
    top: -0.5em;
    vertical-align: baseline;
}

/*Горизонтальные полоски*/
.progress
{
    background-color: #F5F5F5;
    border: 1px solid #D1D2D4;
    border-radius: 3px;
    height: 12px;
    overflow: hidden;
    width: 100%;
}

.progress-bar,
.progress-bar-red,
.progress-bar-green,
.progress-bar-yellow
{
    float: left;
    height: 100%;
}

.progress-bar
{
    background-color: #497CBA;
    width: 100%;
}

.progress-bar-red
{
    background-color: #B7373F;
    width: 100%;
}

.progress-bar-green
{
    background-color: #80AC60;
    width: 100%;
}

.progress-bar-yellow
{
    background-color: #C06232;
    width: 100%;
}

/*Форум*/
.forum-group
{
    margin-top: 5px;
}

.forum-group tr:nth-child(2n+1)
{
    background-color: #EBEBEB;
}

.forum-group th
{
    background-color: #EFEFF1;
    color: #8C97A0;
    font-weight: normal;
}

.forum-group th a
{
    color: #8C97A0;
}

.forum-group td
{
    padding: 3px;
}

.forum-group td
{
    padding: 3px;
}

.forum-group strong,
.forum_group_link
{
    font-size: 12px;
}

/*Полосатая таблица*/
.striped td, th
{
    padding: 3px;
    vertical-align: middle !important;
}

.striped th
{
    color: #8C97A0;
    font-weight: normal;
}

.striped tr:nth-child(2n)
{
    background-color: #EBEBEB;
}

.striped tr.current
{
    background-color: #BBBBFF;
}

tr.current-vote
{
    background-color: #BBBBFF;
}

td.nopadding
{
    padding: 0;
    vertical-align: middle !important;
}

/*Таблица с рамкой*/
.bordered td, th
{
    padding: 3px;
    vertical-align: middle !important;
}

.button-active
{
    background-color: #EBEBEB;
}

/*Сообщения*/
.info
{
    background-color: #BDE5F8;
    border: 1px solid #00529B;
    color: #00529B;
    padding: 10px;
}

.success
{
    background-color: #DFF2BF;
    border: 1px solid #4F8A10;
    color: #4F8A10;
    padding: 10px;
}

.warning
{
    background-color: #FEEFB3;
    border: 1px solid #9F6000;
    color: #9F6000;
    padding: 10px;
}

.error
{
    background-color: #FFBABA;
    border: 1px solid #D8000C;
    color: #D8000C;
    padding: 10px;
}

/*Оформление текста*/
.strong
{
    font-weight: bold;
}

/*Оформление текста*/
.formula
{
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

/*Выравнивание*/
.striped td.padding-left
{
    padding-left: 25px;
}

.left
{
    text-align: left;
}

.center
{
    text-align: center;
    margin: 0 auto;
}

.right
{
    text-align: right;
}

.justify
{
    text-align: justify;
}

.none
{
    display: none;
}

.vcenter
{
    vertical-align: middle !important;
    float: none;
}

.fright
{
    float: right;
}

.relative
{
    position: relative;
}

.overflow
{
    height: 70vh;
    overflow: auto;
}

.overflow-manager
{
    height: 200px;
}

.overflow-profile
{
    height: 250px;
}

/*Ширина*/
.h20
{
    height: 20px;
}

.w1
{
    width: 1px;
}

.w4
{
    width: 4%;
}

.w5
{
    width: 5%;
}

.w8
{
    width: 8%;
}

.w9
{
    width: 9%;
}

.w10
{
    width: 10%;
}

.w13
{
    width: 13%;
}

.w15
{
    width: 15%;
}

.w20
{
    width: 20%;
}

.w25
{
    width: 25%;
}

.w30
{
    width: 30%;
}

.w33
{
    width: 33%;
}

.w35
{
    width: 35%;
}

.w40
{
    width: 40%;
}

.w45
{
    width: 45%;
}

.w50
{
    width: 50%;
}

.w70
{
    width: 70%;
}

.w98
{
    width: 98%;
}

.w100
{
    width: 100%;
}

.w100p
{
    width: 100px;
}

/*Ссылки с картинками*/
.link-img
{
    background-color: #FDFDFD;
    border: 1px solid #E1E2E4;
    border-radius: 3px;
    display: inline-block;
    height: 15px;
    padding: 3px;
    width: 15px;
}

.link-img:hover
{
    background-color: #E1E2E4;
}

.link-home:before
{
    content: url('../img/icon/home.png');
}

.link-list:before
{
    content: url('../img/icon/list.png');
}

.link-pencil:before
{
    content: url('../img/icon/pencil.png');
}

.link-plus:before
{
    content: url('../img/icon/plus.png');
}

.link-delete:before
{
    content: url('../img/icon/delete.png');
}

.link-eye:before
{
    content: url('../img/icon/eye.png');
}

.link-ok:before
{
    content: url('../img/icon/ok.png');
}

/*Флаги, эмблемы*/
.img-12
{
    height: 12px;
}

.img-12
{
    height: 12px;
}

.img-20
{
    height: 20px;
}

.img-30
{
    height: 30px;
}

.img-50
{
    height: 50px;
}

.img-90
{
    height: 90px;
}

.img-120
{
    height: 120px;
}

.img-200
{
    height: 200px;
}

.img-logo
{
    position: relative;
    top: 7px;
}

/*Цвета*/
.grey,
.grey a
{
    color: #A0A0A0;
}

.blue
{
    color: #0026FF;
}

.green
{
    color: #4F8A10;
}

.red,
a.red
{
    color: #D8000C;
}

.white
{
    color: #FEF7DE;
}

/*Аякс загрузка*/
.loading:before
{
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.loading
{
    opacity: 0.5;
}

/*Иконки регистрации через соцсети*/
.social-block
{
    padding: 10px;
}

/*Автокомпит*/
input.es-input
{
    padding-right:20px!important;
    width: 50%;
}

input.es-input:focus
{
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;
    border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    border-bottom-right-radius:0
}

.es-list
{
    display:none;
    position:absolute;
    padding:0;
    margin:0;
    border:1px solid #d1d1d1;
    z-index:1000;
    background:#fff;
    max-height:160px;
    overflow-y:auto;
    -moz-box-shadow:0 2px 3px #ccc;
    -webkit-box-shadow:0 2px 3px #ccc;
    box-shadow:0 2px 3px #ccc
}

.es-list li
{
    display:block;
    padding:5px 10px;
    margin:0
}

.es-list li.selected
{
    background:#f3f3f3
}


/*Модальное окно*/
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
}

.modal > div
{
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px;
    border-radius: 5px;
    background: #FFFFFF;
}

.close-modal
{
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.siteinfo
{
    color: #9CA2A5;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    width: 960px;
}

.siteinfo .wrap
{
    height: 15px;
    overflow: hidden;
}

.siteinfo.siteinfo-opened .wrap
{
    height: auto !important;
}

.siteinfo h1, .siteinfo h2
{
    font-size: 11px;
}